name: AgenteBolsa

on:
  workflow_dispatch:
  schedule:
    - cron: '30 14 * * 1-5'

jobs:
  ejecutar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Librerias
        run: pip install yfinance pandas requests
        
      - name: Ejecutar
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python script.py
        
